# 表示是最顶层的配置文件，发现为true时，才会停止查找.editorconfig文件
root = true

# 所有文件适用以下规则
[*]

# 编码格式，可选值有latin1、utf-8（一般使用它）、utf-16be、utf-16le
charset = utf-8

# 设置缩进风格，可选值有制表符tab和空格space
indent_style = tab

# 设置缩进空格数，一般为整数2或4
indent_size = 4

# 设置tab类型的缩进列数，一般为整数2或4
tab_width = 4

# 设置换行符格式，可选值lf(一般为它)、cr、crlf
end_of_line = lf

# 是否删除行尾的空格，可为true和false
trim_trailing_whitespace = true

# 保存文件时是否在文件的最后插入一个空行。可为true和false
insert_final_newline = true


# md 文件还适用适用一些规则
[*.md]
max_line_length = off
